body{
  background:url("./bg.png");
  background-size:cover;
  background-position:right;
}

.question_section {
  background:url("./bg.png");
  background-size:cover;
  background-position:right;
  color:#F1FAEE;
  padding: 2% 22%;
  font-size: 1.1rem;
  min-height:100vh;
  font-family: 'Quicksand', sans-serif;
}

.question{
  padding:20px 0;
}

.option {
  display: inline-block;
  border: 0;
  text-align: left;
  padding: 8px 20px;
  border:2px solid rgba(69, 123, 157,0.5);
  border-radius: 10px; 
}

.option span {
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
  border:2px solid rgba(69, 123, 157,0.5);
  width: 30px;
  height: 30px;
  border-radius:50%;
  text-align: center;
  margin-right: 20px;
}

.question{
  text-align:justify;
  font-size:1rem;
}
label {
  padding: 1px 0;
  width: 100%;
  font-size:1rem;
}
input[type="radio"] {
  display: none;
}
input[type="radio"]:checked ~ .option span {
  background-color: #06d6a0;
  color: #fff;
  box-shadow: none;
  border:0;
}
.carousel-inner {
  overflow-y: scroll;
  padding: 2%;
  margin-bottom: 1%;
}
.carousel-control {
  display: block;
  padding: 10px;
  height: 50px;
  width:90px;
  display: inline-block;
  color: #fff;
  background-color: #06d6a0;
  transition: 0.1s;
  text-align:center;
}
.carousel-control:hover {
  background-color: #06d6a0;
  color: #e1f4f3;
  text-decoration:none;
}

.questionToggles{
  display:flex;
  justify-content:center;
}
.questionToggles button{
  background-color:#457B9D;
  border:0;
  height:30px;
  width:30px;
  margin:5px;
  border-radius:50%;
  color:#fff;
}
.questionToggles button:focus{
  outline:none;
}

.next{
 position:fixed;
  bottom:0;
  right:0;
  border-radius:  10px 0 0 0;
}
.prev{
  position:fixed;
  bottom:0;
  left:0;
  border-radius: 0 10px 0 0;
}
.submit-btn{
  background:none;
  border:0;
  color:#06d6a0;
  position:fixed;
  top:0;
  right:0;
  padding:12px 25px;
  font-weight:bold;
}
@media(max-width:600px){
  .question_section{
    padding: 15% 5%;
  }
}
@media(min-width:600px){
  .question-container{
  padding-top:10px;
  border:2px solid rgba(69, 123, 157,0.5);
  border-radius: 10px; 
  box-shadow: 2px 2px 20px #457B9D;
}
}

/* Landing Page */
.landing-page{
  padding:40px 0;
  background:url("./bg.png");
  min-height:100vh;
  background-size:cover;
  background-position:center;
  font-family: 'Quicksand', sans-serif;
}
.landing-page h3{
  text-align:center;
  color:#06d6a0;
  margin-bottom:20px;
}
.landing-page input{
  display:block;
  background:none;
  border:2px solid rgba(69, 123, 157,0.7);
  border-bottom:0;
  padding:10px 20px;
  caret-color:#06d6a0;
  color:#f1faee;
  text-align:center;
  width:500px;
}
.landing-page input:first-child{
  border-radius:8px 8px 0 0;
}
.landing-page input:last-child{
  border-bottom:2px solid rgba(69, 123, 157,0.7);
}
.landing-page ::placeholder{
  color: rgba(69, 123, 157,0.7);
}
.landing-page input:focus{
  outline:none;
  border:2px solid #06d6a0;
}
.landing-page textarea{
   display:block;
  background:none;
  border:2px solid rgba(69, 123, 157,0.7);
  border-bottom:0;
  padding:10px 20px;
  caret-color:#06d6a0;
  color:#f1faee;
  text-align:center;
  width:500px;
}
.landing-page textarea:focus{
  outline:none;
  border:2px solid #06d6a0;
}
.landing-page button{
  border:0;
  background-color: #06d6a0;
  width:500px;
  padding:10px 20px;
  border-radius:0 0 8px 8px;
}
.landing-page button:focus{
  outline:none;
}
.landing-page select{
  width:500px;
  background-color: #1d3557;
  border:2px solid rgba(69, 123, 157,0.7);
  border-bottom:0;
  padding:10px 20px;
  color:#f1faee;
  text-align-last:center;
}
.landing-page select option{
  text-align-last:center;
}
.landing-page select:focus{
  outline:none;
  border:2px solid #06d6a0;
}

.brand{
  position:fixed;
  bottom:0;
  height:120px;
  width:100%;
  background-color: #06d6a0;
  color:#fff;
  text-align:center;
  font-weight:bold;
  font-size:1.8rem;
  padding:15px 0;
  border-radius: 10px 10px 0 0;
}
@media(max-width:600px){
  .landing-page{
  background-position:right;
  }
  .landing-page input{
    width:300px;
  }
  .landing-page button{
    width:300px;
  }
  .landing-page select{
  width:300px;
  }
  .landing-page textarea{
  width:300px;
  }
}
@media(max-height:500px){
  .brand{
    display:none;
  }
}
/* Remove increment decrement in input type number */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

